/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: show;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  
  /* Container for the form */
  .container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
  }
  
  /* Form title */
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Form fields */
  label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 6px;
    text-align: left;
  }
  
  input,
  select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  textarea {
    width: 100%;
    height: 120px; /* Increase height for more space */
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    resize: vertical; /* Allow vertical resizing */
  }
  
  textarea:focus {
    border-color: #4CAF50; /* Change border color when focused */
    outline: none;
  }
  
  input[type="submit"], button {
    background-color: #536adc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover, button:hover {
    background-color: #45a049;
  }
  
  /* Links */
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .container {
      padding: 20px;
    }
  }
  